@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  height: 7px;
}

/* Estilos para el track (fondo) de la barra de desplazamiento */
body::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color de fondo del track */
}

/* Estilos para el thumb (agarradera) de la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color de fondo del thumb */
}

/* Estilos para el thumb al ser pulsado o activo */
body::-webkit-scrollbar-thumb:active {
  background-color: #555;
  /* Color de fondo del thumb activo */
}

html {
  scroll-behavior: smooth;
}

.textcal::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  height: 7px;
}

/* Estilos para el track (fondo) de la barra de desplazamiento */
.textcal::-webkit-scrollbar-track {
  background-color: #f1f1f100;
  /* Color de fondo del track */
}

/* Estilos para el thumb (agarradera) de la barra de desplazamiento */
.textcal::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color de fondo del thumb */
  border-radius: 12px;
  /* Radio de la esquina del thumb */
}

/* Estilos para el thumb al ser pulsado o activo */
.textcal::-webkit-scrollbar-thumb:active {
  background-color: #555;
  /* Color de fondo del thumb activo */
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.swiper-pagination-bullet {
  background-color: white;
  width: 18px;
  height: 18px;
}

.swiper-pagination {
  margin-bottom: 16px;
}

.header-carrousel .swiper-button-prev {
  color: #e5e5e5;
  margin-left: 15px;
}

.header-carrousel .swiper-button-next {
  color: #e5e5e5;
  margin-right: 15px;
}

.header-carrousel .swiper-pagination .swiper-pagination-bullet {
  background-color: #e5e5e5;
  width: 18px;
  height: 18px;
}

.social-media .swiper-button-prev {
  color: #14213d;
  margin-left: 15px;
}

.social-media .swiper-button-next {
  color: #14213d;
  margin-right: 15px;
}


.social-media .swiper-pagination .swiper-pagination-bullet {
  background-color: #14213d;
  width: 18px;
  height: 18px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid #14213d;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}

.background-login-left {
  background-color: #14213d;
  opacity: 1;
  background-image: repeating-linear-gradient(45deg, #182541 25%, transparent 25%, transparent 75%, #182541 75%, #182541), repeating-linear-gradient(45deg, #182541 25%, #14213d 25%, #14213d 75%, #182541 75%, #182541);
  background-position: 0 0, 31px 31px;
  background-size: 62px 62px;
}